@import "./normalize.css";

.page__body {
  min-width: 375px;
}

.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper {
  margin-top: 50px;
  text-align: center;
  padding: 15px;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

.title {
  margin: 15px 0;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form__input::placeholder {
  color: black;
}

.form__input {
  border: 1px solid black;
}

.form__input, .form__button {
  padding: 10px;
}

.form__button {
  margin-bottom: 15px;
  background-color: inherit;
  border: 1px solid black;
}

.text {
  padding: 10px;
  margin: 0;
  margin-bottom: 15px;
  border: 1px solid black;
}

.text:last-child {
  margin-bottom: 0;
}